In [ ]:
import pandas as pd
file_path = "/Users/jackyhe/Desktop/CS6741Final/PELIC_compiled.csv"

df = pd.read_csv(file_path)

print(df.head())

   answer_id anon_id       L1  gender   semester  placement_test  course_id  \
0          1     eq0   Arabic    Male  2006_fall             NaN        149
1          2     am8     Thai  Female  2006_fall             NaN        149
2          3     dk5  Turkish  Female  2006_fall             NaN        115
3          4     dk5  Turkish  Female  2006_fall             NaN        115
4          5     ad1   Korean  Female  2006_fall             NaN        115

   level_id class_id  question_id  version  text_len  \
0         4        g            5        1       177
1         4        g            5        1       137
2         4        w           12        1        63
3         4        w           13        1         6
4         4        w           12        1        59

                                                text  \
0  I met my friend Nife while I was studying in a...
1  Ten years ago, I met a women on the train betw...
2  In my country we usually don't use tea bags. F...
3              I organized the instructions by time.
4  First, prepare a port, loose tea, and cup.\nSe...

                                              tokens  \
0  ['I', 'met', 'my', 'friend', 'Nife', 'while', ...
1  ['Ten', 'years', 'ago', ',', 'I', 'met', 'a', ...
2  ['In', 'my', 'country', 'we', 'usually', 'do',...
3  ['I', 'organized', 'the', 'instructions', 'by'...
4  ['First', ',', 'prepare', 'a', 'port', ',', 'l...

                                         tok_lem_POS
0  [('I', 'I', 'PRP'), ('met', 'meet', 'VBD'), ('...
1  [('Ten', 'ten', 'CD'), ('years', 'year', 'NNS'...
2  [('In', 'in', 'IN'), ('my', 'my', 'PRP$'), ('c...
3  [('I', 'I', 'PRP'), ('organized', 'organize', ...
4  [('First', 'first', 'RB'), (',', ',', ','), ('...

In [2]:
len(df)

46204

In [3]:
# Filter rows based on the conditions
filtered_df = df[
    (df['L1'].isin(['Chinese', 'Arabic', 'Korean'])) & 
    (df['level_id'].isin([2, 3]))
][['L1', 'text']]

filtered_df.head()

         L1                                               text
35  Chinese       Can you give me a opinion about this matter?
36  Chinese                     I own this car and this horse.
37  Chinese  Computer is the most useful invention for ever...
38   Korean      My sister is acquiesce in a person's opinion.
39   Korean          A moment to call one's own at this class.

In [4]:
len(filtered_df)

10395

In [5]:
language_counts = filtered_df['L1'].value_counts()
print(language_counts)

L1
Arabic     6429
Chinese    2047
Korean     1919
Name: count, dtype: int64

In [ ]:
# Randomly sample 1500 rows for each language
sampled_df = filtered_df.groupby('L1').apply(lambda x: x.sample(n=1500, random_state=42)).reset_index(drop=True)

print(sampled_df)
print(sampled_df['L1'].value_counts())

          L1                                               text
0     Arabic                                        my homework
1     Arabic  Yes,because spanking a child is very bad way t...
2     Arabic  I register in ELI by filling out there applica...
3     Arabic  Now i am live with my friend in downtown, but ...
4     Arabic  In the ELI, the activities vary according to t...
...      ...                                                ...
4495  Korean                            Does she use to live in
4496  Korean  In my opinion, it is not always illegal thing....
4497  Korean  Dae ANON_NAME_0 Kim has studied KOREA Unversit...
4498  Korean  Topic: Look before you leap\n\nI used to work ...
4499  Korean  Car is very usefull to people. It`s moved to u...

[4500 rows x 2 columns]
L1
Arabic     1500
Chinese    1500
Korean     1500
Name: count, dtype: int64

/var/folders/kk/c79wsldj45df2gtvh0ydth9m0000gn/T/ipykernel_83914/2389759078.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_df = filtered_df.groupby('L1').apply(lambda x: x.sample(n=1500, random_state=42)).reset_index(drop=True)

In [ ]:
from sklearn.model_selection import train_test_split

# Define features (X) and target (y)
X = sampled_df['text']  # Feature (text)
y = sampled_df['L1']    # Target (language)

# Split the data into training (80%) and testing (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print(f"Training data size: {len(X_train)}")
print(f"Test data size: {len(X_test)}")

train_df = pd.DataFrame({'text': X_train, 'L1': y_train})
test_df = pd.DataFrame({'text': X_test, 'L1': y_test})
train_df.to_csv("/Users/jackyhe/Desktop/CS6741Final/data/train_data.csv", index=False)
test_df.to_csv("/Users/jackyhe/Desktop/CS6741Final/data/test_data.csv", index=False)

Training data size: 3600
Test data size: 900